button {
    border: 1px solid teal;
    padding: 8px 15px;
    align-self: flex-end;
    margin-top: 15px;
}

.container {
    width: 570px;
    display: flex;
    flex-direction: column;
}

.form {
    align-self: center;
}